body{
   overflow-x: hidden;
}
.Banner {
  position: relative;  
  width: 90%;
 display: flex;
  align-items: center;
  padding: 12px 100px;
  
}

.Banner img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
}

/* Content overlay */
.Content {
  position: absolute;
  top: 50%;
  left: 170px;
  transform: translateY(-50%);
  color: #000;
  max-width: 500px;
}

/* Small heading */
.con {
  display: flex;
  gap: 10px;
  align-items: center;
}

.off {
  color: red;
  font-weight: bold;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  background-color: #555;
  padding: 9px;
  opacity: 10;
}

.con1 h1 {
  font-size: 36px;
  margin: 10px 0;
  line-height: 1.3;
}

.green {
  color: #2ecc71;
}


.con2 h5 {
  color: #555;
  margin-bottom: 20px;
}

.Button {
  background-color: #2ecc71;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.Button:hover {
  background-color: #27ae60;
  transition: 0.2s;
}